# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import requests

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [8]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='/t', engine='python')

### Step 4. See the first 10 entries

In [9]:
chipo.head(10)

  order_id\tquantity\titem_name\tchoice_description\titem_price
0    1\t1\tChips and Fresh Tomato Salsa\tNULL\t$2.39
1                    1\t1\tIzze\t[Clementine]\t$3.39
2             1\t1\tNantucket Nectar\t[Apple]\t$3.39
3  1\t1\tChips and Tomatillo-Green Chili Salsa\tN...
4  2\t2\tChicken Bowl\t[Tomatillo-Red Chili Salsa...
5  3\t1\tChicken Bowl\t[Fresh Tomato Salsa (Mild)...
6                   3\t1\tSide of Chips\tNULL\t$1.69
7  4\t1\tSteak Burrito\t[Tomatillo Red Chili Sals...
8  4\t1\tSteak Soft Tacos\t[Tomatillo Green Chili...
9  5\t1\tSteak Burrito\t[Fresh Tomato Salsa, [Ric...

### Step 5. What is the number of observations in the dataset?

In [14]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 1 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   order_id	quantity	item_name	choice_description	item_price  4622 non-null   object
dtypes: object(1)
memory usage: 36.2+ KB

In [16]:
chipo.shape

(4622, 1)

### Step 6. What is the number of columns in the dataset?

### Step 7. Print the name of all the columns.

### Step 8. How is the dataset indexed?

### Step 9. Which was the most-ordered item?

### Step 10. For the most-ordered item, how many items were ordered?

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

### Step 15. How many orders were made in the period?

### Step 16. What is the average revenue amount per order?

In [3]:
# Solution 1

In [4]:
# Solution 2

### Step 17. How many different items are sold?